@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  --color-accent: #B76E79;
  --color-surface: #161516;
  --color-bg: #0F0E0F;
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-script: "Great Vibes", cursive;
}
